<body>

<div class="mt-4 p-5 bg-primary text-white rounded">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur ipsam voluptatem quos vitae dignissimos et! Quaerat sed itaque dolorum reiciendis dignissimos? Sapiente vero sed eius, quos excepturi molestiae esse distinctio.</p>
    <a href="http://google.com" class="btn btn-primary btn">Google</a>
</div>

</body>